<div class="dbc-custom-find">
  <div class="dbc-custom-find__grid">
    <div class="dbc-custom-find__left">
      <button
        type="button"
        class="dbc-icon-btn dbc-icon-btn--toggle"
        [class.is-active]="replaceVisible"
        (click)="toggleReplace()"
        [title]="replaceVisible ? 'Hide replace' : 'Show replace'">
        <mat-icon>
          {{ replaceVisible ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
    </div>

    <div class="dbc-custom-find__center">
      <div class="dbc-custom-find__row">
        <div class="dbc-custom-find__field">
          <input
            #findInput
            type="text"
            class="dbc-custom-find__input"
            placeholder="Find"
            [(ngModel)]="findState.query"
            (ngModelChange)="onFindQueryChange()"
            (keydown)="onFindKeydown($event)" />

          <div class="dbc-custom-find__field-tools">
            <button
              type="button"
              class="dbc-inline-btn"
              [class.is-active]="findState.matchCase"
              (click)="toggleMatchCase()"
              title="Match case">
              <span class="dbc-inline-btn__text">Aa</span>
            </button>

            <button
              type="button"
              class="dbc-inline-btn"
              [class.is-active]="findState.wholeWord"
              (click)="toggleWholeWord()"
              title="Match whole word">
              <span class="dbc-inline-btn__text">ab</span>
            </button>

            <button
              type="button"
              class="dbc-inline-btn"
              [class.is-active]="findState.regex"
              (click)="toggleRegex()"
              title="Use regular expression">
              <span class="dbc-inline-btn__text">.*</span>
            </button>
          </div>
        </div>

        <div
          class="dbc-custom-find__count"
          [class.dbc-custom-find__count--error]="findState.regexError">
          {{ getMatchesLabel() }}
        </div>

        <div class="dbc-custom-find__actions">
          <button
            type="button"
            class="dbc-icon-btn"
            (click)="findPrevious()"
            [disabled]="!hasMatches()"
            title="Previous match">
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>

          <button
            type="button"
            class="dbc-icon-btn"
            (click)="findNext()"
            [disabled]="!hasMatches()"
            title="Next match">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>

          <button
            type="button"
            class="dbc-icon-btn"
            (click)="close()"
            title="Close">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <div class="dbc-custom-find__row" *ngIf="replaceVisible">
        <div class="dbc-custom-find__field">
          <input
            #replaceInput
            type="text"
            class="dbc-custom-find__input"
            placeholder="Replace"
            [(ngModel)]="findState.replaceText"
            (keydown)="onReplaceKeydown($event)" />
        </div>

        <div class="dbc-custom-find__replace-actions">
          <button
            type="button"
            class="dbc-text-btn"
            (click)="replaceCurrent()"
            [disabled]="!hasMatches()"
            title="Replace">
            Replace
          </button>

          <button
            type="button"
            class="dbc-text-btn"
            (click)="replaceAll()"
            [disabled]="!hasMatches()"
            title="Replace All">
            Replace All
          </button>
        </div>
      </div>

      <div class="dbc-custom-find__error" *ngIf="findState.regexError">
        Invalid regular expression
      </div>
    </div>
  </div>
</div>